extends ./layouts/styles_example.pug
block content 
  .wrapper.p-t-15.p-b-15
    h1="asd"
    <i class="fas fa-user-times"></i>
    form(action="/edit" method="post")
        button <i class="fas fa-user-times"></i>
    form(action="/" method="get")
        button <i class="fas fa-user-times"></i>

    
          
      
